.panel
  .profile
    .profile_image
      = image_tag current_user.avatar_image
    .profile_info
      .profile_name
        .profile_displayName
          = current_user.display_name
        .btn-secondary
          = link_to 'Edit', edit_profile_path