.card
  .profilePage_user
    .profilePage_user_image
      = image_tag 'face.png'
    .profilePage_user_basicInfo
      .profilePage_user_name
        .profilePage_user_displayName
          名前
        .profilePage_user_actionButton
          = link_to 'Edit', edit_profile_path
      .profilePage_user_introduction
        自己紹介