.container
  .panel
    %h2 All Boards
    .panel_body
      - @boards.each do |board|
        = render 'commons/board', board: board
      %p.new_board
        = link_to '+ Add new board', new_board_path