.container
  .panel
    .panel_header
      %h2= @board.title
    .panel_body
      - @tasks.each do |task|
        = render 'commons/task', task: task

      %p.new_card
        = link_to '+ Add new card', new_board_task_path(@board)
