.board_card {
  background-color: #f4f4f4;
  border: none;
  width: 360px;
  height: 160px;
  border-radius: 10px;
  margin-bottom: 30px;
  padding: 30px 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;

  &_top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h5 {
      font-size: 18px;
      margin: 0;
    }
  }

  &_content {
    font-size: 14px;
    color: #aaa;
  }

  &_img {
    height: 30px;
    width: 30px;
    padding-top: 12px;
    padding-bottom: 10px;

    img {
      width: 100%;
      border-radius: 100%;
    }
  }

  &_actions {
    width: 24px;
    height: 6px;
    right: 20px;
    position: absolute;

    img {
      width: 100%;
    }
  }
}

.new_board {
  font-size: 16px;
  border: 1px dotted #00000033;
  width: 360px;
  height: 160px;
  border-width: 1px;
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}
