@use 'variables';

.btn-primary {
  background-color: variables.$primary-color;
  border: none;
  text-align: center;
  color: white;
  width: 362px;
  height: 40px;
  border-radius: 4px;
  font-weight: 800;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0px;
}
