@use 'variables';

.header {
  width: 400px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  padding: 1.3rem;
  background-color: variables.$base-bg-color;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin: 20px auto 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.04);

  &_text {
    font-style: variables.$font-xl;
  }

  &_avatar {
    width: variables.$avatar-size;
    height: variables.$avatar-size;
    border-radius: 100%;
  }
}
