@use 'variables';

.panel {
  width: 400px;
  display: flex;
  flex-direction: column;
  padding: 1.3rem;
  background-color: variables.$base-bg-color;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin: 0 auto;

  &_body {
    flex: 1 1 auto;
    min-height: 690px;
  }

  &_footer {
    margin-top: auto;
    text-align: center;
  }

  .full_width_btn {
    width: 100%;
    padding: 0.75rem;
  }

  .links {
    margin-top: 20px;

    a:hover {
      color: variables.$gray-dark;
    }
  }
}
