@use 'variables';

$image_size: 56px;

.profile {
  margin-bottom: 32px;
  display: flex;

  &_image {
    display: flex;
    flex-direction: column;
    justify-content: center;

    img {
      width: $image_size;
      height: $image_size;
    }
  }

  &_info {
    margin-left: 16px;
  }

  &_name {
    display: flex;
    margin-bottom: 8px;
  }

  &_displayName {
    font-size: variables.$font-xl;
    font-weight: 800;
    margin-right: 8px;
  }

  &_intro {
    font-size: variables.$font-sm;
  }
}
